# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.pyo

# Virtual environment
venv/
.env

# IDE and editor files
.vscode/
.idea/

# Mypy and pylint
.mypy_cache/
.pylint.d/

# Pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# Data
data/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# FastAPI-specific
*.sqlite3
*.db
